@tailwind base;
@tailwind components;
@tailwind utilities;

/* // Custom tailwind class example */

@layer components {
/* //Combine tailwind utilities */
  .sidebar-icon {
    @apply relative flex items-center justify-center
      h-12 w-12 mt-2 mb-2 mx-auto
      bg-secondary-500 hover:bg-tiffany-500
      text-tiffany-600 hover:text-white
      hover:rounded-xl rounded-3xl
      transition-all duration-300 ease-linear
      cursor-pointer shadow-lg
      disabled:bg-secondary-500 disabled:opacity-25
      disabled:cursor-not-allowed;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md
    text-white bg-secondary-500
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left
    hover:scale-100;
  }

  .loading-spinner {
    @apply flex items-center justify-center fill-tiffany-600
    animate-spin-slow;
  }

  .search-input {
    @apply flex focus:shadow pl-4 text-tiffany-500 focus:outline-tiffany-500
     bg-secondary-600 rounded-lg border shadow-md md:flex-row md:max-w-full 
     hover:bg-secondary-500 border-secondary-400 dark:border-secondary-400 
     dark:bg-secondary-500 dark:hover:bg-secondary-400;
  }

  .search-errors {
    @apply flex text-red-500 ml-10 animate-pulse duration-1000;
  }

  .movement-card {
    @apply flex flex-col my-8 items-center bg-secondary-600 rounded-lg border
      shadow-md md:flex-row md:max-w-full hover:bg-secondary-500 border-secondary-400
      dark:border-secondary-400 dark:bg-secondary-500 dark:hover:bg-secondary-400
  }
}